@import 'bootstrap/dist/css/bootstrap';

/*.navbar-brand{
    font-size: 3rem;
}*/
.search-area {
    padding-top: 50px;
}

.no-left-padding {
    padding-left: 0 !important;
}

.no-right-padding {
    padding-right: 0 !important;
}

.results-block {
    display: inline-block;
    margin-bottom: 1rem;
}

.logout-button {
    margin-right: 5px;
}

.username{
    margin-top: 3.5%;
    padding-right: 5px;
}

.table th {
    text-align: center;   
 }

 .table td {
    text-align: center;   
 }
body {
  background-color: lightblue;
}
.jumbotron {
    background-image: asset-url('stock_main.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}